
<section class="admin-dashboard-index">
  <h1>Admin &raquo; Dashboard </h1>
  <div class="panel panel-default products">
    <h3  class="text-info">We have <%= @products%> <%= link_to 'products', [:admin, :products]%> available for sale classified in <%=@categories%> categories. </h3>
  </div>

</section>
